.phone-menu {display: block;}
@media (min-width: 768px){
.filter_icon { display: none;}
.packaging_wrap_inner .side_bar .cross {display: none;}
}

@media (max-width: 1500px){
    html {font-size: 90%;}
    .header-logo img { height: 5.938rem;}
    
}
@media (max-width: 1450px){
    /* .container { max-width: 1140px; } */
}
@media (max-width: 1200px){
    .sidemenu-box { position: fixed; right: 0; top: 0; height: 100%; padding: 2rem; z-index: 4; transition: all ease 0.5s; background-color: var(--white); transform: translateX(100%); min-width: 280px;overflow: auto;}
    .sidemenu-box a { color: var(--black)!important; opacity: 0.8; display: block;}
    .theme-nav { flex-direction: column; }
    .phone-menu { z-index: 5; display: block; margin-left: auto; cursor: pointer;  color: var(--theme-color);}
    .phone-menu span {width: 24px;height: 2px;background-color: currentColor;display: block;transition: all ease .5s;}
    .phone-menu span:nth-child(2) { margin: 6.5px 0; }
    .header-backdroap { position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5);  z-index: 4; opacity: 0; pointer-events: none; transition: all ease 0.5s; }
    .menu-opened .header-backdroap { opacity: 1; pointer-events: all; }
    .menu-opened .sidemenu-box{transform: translateX(0);}
    .phone-menu span{transform-origin: right;}
    .menu-opened .phone-menu span:nth-child(1){ transform: rotate(-45deg); transform-origin: right; }
    .menu-opened .phone-menu span:nth-child(2){ opacity: 0; }
    .menu-opened .phone-menu span:nth-child(3){ transform: rotate(45deg); transform-origin: right; }
    /* .menu-opened .phone-menu{color: var(--dark-grey);} */
    .menu-opened { overflow: hidden; padding-right: 0px; }
    .menu-item-has-children>ul, .has-dropdown>ul { position: static; transform: none; opacity: 1; background-color: transparent; pointer-events: all; transition: none;}
    .menu-item-has-children:after, .has-dropdown:after{position: absolute; opacity: 0; pointer-events: none}
    .dd-click { position: absolute; right: 0; top: 0.3rem; width: 2rem; height: 2rem; border: 1px solid var(--theme-color); display: grid; place-items: center; z-index: 5; opacity: 0.6; cursor: pointer; }
    .dd-click:before { content: ''; display: block; position: absolute;     right: 5px;
        top: 4px; width: 9px; height: 9px; border-right: 2px solid var(--theme-color); border-bottom: 2px solid var(--theme-color); transform: rotate(45deg); -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg);}
    .menu-item-has-children:hover>ul, .has-dropdown:hover>ul { transform: none; }
    .menu-item-has-children>a { width: calc(100% - 3rem); min-width: auto!important; border: none!important;}
    .theme-nav>li>a { padding: 0.55rem 1rem; border-bottom: 1px solid var(--theme-alpha); }
    .menu-item-has-children, .has-dropdown {border-bottom: 1px solid var(--theme-alpha);}
    .theme-nav>li:last-child { display: block; }
    .sub-menu>li:nth-last-child(1)>a { border: none; }
    .sub-menu {background-color: var(--theme-bg)!important;}
    .slideOpened:before { transform: rotate( 180deg ); color: var(--white);}
    .slideOpened{background-color: var(--theme-color); color: var(--white);}
    .menu-item .sub-menu .sub-menu a { min-width: auto; padding-left: 2rem; }
    .menu-item .sub-menu .sub-menu { background-color: var(--theme-color-transparent1)!important; }
    .theme-nav>li>a:hover { background-color: var(--theme-light1); color: var(--white)!important; }
    .menu-item-has-children>ul a:hover, .has-dropdown>ul a:hover{color: var(--white)!important;}
    .menu-top-menu-container { margin-bottom: 3rem; }
    /* .inner-page, body:not(.home){padding-top: 4.12rem;} */
    .inner-page, body:not(.home) { padding-top: 4rem; }
    /* .container { max-width: 1100px; } */
    
}
@media (max-width: 1370px){
   
    
}
@media (max-width: 1280px){
    .include_list li { padding: 0 0.638rem;}
    .featured_sec .hotel_content .title {overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; line-clamp: 2; -webkit-box-orient: vertical;}
    .featured_sec .blog_info { display: block;}
    .featured_sec .blog_info li:first-child  {margin-bottom: 0.313rem;}
    
}
@media (max-width: 1099px){
    /* .para-lg1 { font-size: 1.2rem; } */
    html {font-size: 85%;}
    /* .container {max-width: 800px;} */
    
}

@media (max-width: 1090px){
 

}
@media (max-width: 1049px){
    .search_list {flex-wrap: wrap;}

}


@media (max-width: 991px){
    .packaging_view_box_top .images { align-self: stretch; }
    .packaging_view_box_top .images img {height: 100%;}
    .packaging_view_box_top .packaging_info {padding-top: 1rem; padding-bottom: 1rem;}
    .packaging_view_footer_inner .right_side { margin-top: 1rem;}
}
@media (max-width: 949px){
    .packaging_view_footer_inner .right_side .btn { white-space: nowrap;}
}
@media (max-width: 914px){
    .packaging_view_footer_inner{  flex-wrap: wrap;}
    .packaging_view_footer_inner .right_side { padding-right: 0;}
    .packaging_view_footer_inner {justify-content: center;}
}


@media (max-width: 767px){
.contact_info_wrap { display: none; }
.header-logo img { height: 4.75rem;}
header { height: 5.063rem;}

.packaging_view_footer_inner .right_side { padding-left: 0; margin-top: 1rem;  }
.packaging_view_footer_inner .left_side {width: 100%;}

.packaging_view {width: 100%; padding-left: 0; margin-top: 2rem;}
.packaging_wrap_inner {flex-wrap: wrap; }
.packaging_wrap_inner .side_bar {width: 100%; display: none; position: fixed; top: 0; left: 0; width: 100%;     background: #fff;
    box-shadow: none; padding-bottom: 122px;
    z-index: 999;
    border-radius: 0; overflow: auto;
    height: 100%;
} 
.packaging_wrap_inner .filter_button {    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
    z-index: 9;
    box-shadow: 0 0 35px #00000021;
    padding-bottom: 1rem;}

.packaging_top {flex-wrap: wrap; }
.packaging_top .sort_by{margin-top: 2rem;}


}

@media (max-width:619px){
    body { overflow-x: hidden;}
    .top_about .images, .top_about .about_content { width: 100%; }
    .theme-nav { display: none;}
    .slider_btns { position: static; width: 100%;justify-content: center;    transform: translateY(0%); }
    .slider_btns>* { margin: 2rem 1rem 0;}
    .single_about, .top_about .images, .flag_top { display: none; }
    .banner_list li a span {line-height: 1.2rem; }
    html {font-size: 80%;}
    section { padding: 2rem 0;}
    .top_about .images { padding-right: 0;}
    body { overflow-x: hidden;}
    .hotel_list li { width: 72%;padding: 0 10px;}
    .hotel_list { overflow: auto; white-space: nowrap;    overflow-y: hidden;}
    .home_latest_wrap .home_latest_left, .home_latest_wrap .home_latest_right { width: 100%;margin:0 0 1rem 0;}
    .home_latest_wrap {flex-wrap: wrap;}
    .home_blog .blog_left { position: static;    margin-bottom: 2rem; width: 100%;}
    .home_blog .blog_right { width: 100%; padding-left: 15px; }
    .theme_footer .newsletter_left { width: 100%; margin-bottom: 2rem;}
    .theme_footer .newslateer_inner { flex-wrap: wrap; }
    .theme_footer .newsletter_right { width: 100%;}
    .footer_bottom_inner { flex-wrap: wrap; }
    .footer_bottom_left, .footer_bottom_right { width: 100%;}
    .social_icon { padding: 1rem 0; top: 0;   justify-content: start;}
    section.home_hotel {overflow: hidden;}
    .home_blog .slider_btns { width: 100%;}
    .blog_view_all_btn { margin-left: 0;}
    .newsletter_input_inner:after { top: 7px;}
    .search_list { flex-wrap: wrap; }
    .search_list .form_group {min-width: 100%;}
    .search_list li { width: 100%; margin-top: 1rem;}
    .search_list .btn { width: 100%; }
    .featured_list {overflow: auto;white-space: nowrap; flex-wrap: inherit; }
    .featured_list li {width: 72%;}
    .featured_box .title {     white-space: initial;}
    .featured_content { padding: 2rem 1.5rem;}
    .gateways_grid { flex-wrap: wrap;  margin-top: 2rem;flex-direction: column-reverse; }
    .gateways_grid .left_side_inner { padding-right: 0; padding-bottom: 2rem;}
    .grid_gallery_row .left_area, .right_area {width: 100%;margin-bottom: calc( var(--gap) * 2);}
    .grid_gallery_row .right_area img {width: 100%;}
    .grid_gallery_row .right_area img:nth-last-child(1), .grid_gallery_row .right_area img:nth-last-child(2) {margin-bottom: calc( var(--gap) * 2);}
    .experiences_facts_list {white-space: nowrap; overflow: auto;}
    .experiences_facts_list li {width:55% ;  min-width: 55%;  padding: 0 2rem;}
    .experiences_facts_box { white-space: initial; margin: 0 -2rem;}
    


    .include_list { flex-wrap: wrap;    justify-content: center;}
    .include_list li { margin-bottom: 0.975rem;}
    .packaging_view_box_top { flex-wrap: wrap;padding-right:0; width: 100%;}
    .packaging_view_box_top .images { padding-right: 0;max-width: 100%;
        width: 100%;}
    .packaging_view_box_top .images img { width: 100%;}
    .packaging_view_box_top .packaging_info { max-width: 100%; width: 100%; padding: 2rem;}
    .packaging_view_box_top .price {width: 100%; margin: 0 1rem 1rem;}
    .packaging_view_box_top .price .price_inner {padding: 0.813rem 1.125rem;}
    
}

