html{
    --secondary-color: #162e44;
}



@media (max-width: 1920px){  
}
@media (max-width: 1710px){
}
@media (max-width: 1680px){
}
@media (max-width: 1550px){
    html{font-size: 15px;}
}
@media (max-width: 1470px){
    html{font-size: 14.9px;}
}
@media (max-width: 1400px){
    html{font-size: 14px;}
}
@media (max-width: 1300px){
    html{font-size: 13px;}
}
@media (max-width: 1250px){
}
@media (max-width: 1200px){
}
@media (max-width: 1199px){
      
}
@media (max-width: 1170px){
    .container {
        max-width: 80rem;
    }
}
@media (max-width: 992px){
    html {
        font-size: 12px;
    }    
}
@media (max-width: 767px){ 
    html {
        font-size: 14px;
    }     
    .sidebar_opened{
        overflow: hidden;
    }
    .section_title .title_small{
        font-size: 1rem;
    }
    .section_title .title_big{
        font-size: 1.5rem;
    }
    .contact_inr {flex-direction: column-reverse;}
    .contact_inr > .w-1\/2 {width: 100%;}
    .fcioaz.contact_us_address .left_sec .booking_problem_img {top: 25%;}
    section.lcUqIG .inner_content_block .img-data li .img-sec {
        width: 100%;
    }
    section.lcUqIG .inner_content_block .img-data li .para-sec {
        width:100%;
        padding-left: 0;
    }
    section.lcUqIG .destination_about_content .dest_desc {
        padding-right: 0;
    }
    section.lcUqIG .inner_content_block ul.blocks-gallery-grid li {
        height: 10.75rem;
    }
    .popup_main_box.download_itnery_pop_wrapper .popup_wrap {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    .room_type>ul>li {
        display: block
    }
    .compact-room-img {
        width: 100%
    }
    li>.room-options {
        border-left: 0;
        width: 100%
    }
    .room_type>ul>li:first-child {
        display: none
    }
    ul.mobile-show {
        display: block;
    }
   ul.hotel_adult_child_icon li:last-child {
        width: 100%;
    }
    .hotel-wrapper-content-tab #content .content.content_overview .flex.py-1.px-5.pt-3 {
        display: inline-block;
        width: 100%;
    }
    .hotel-wrapper-content-tab #content .content.content_overview .w-1\/5, .hotel-wrapper-content-tab #content .content.content_overview .w-4\/5 {
        width: 100%;
    }
    .jGyDrp .roomgallery, .jGyDrp .roomgallery2 {
        width: 97% !important;
    }
    .hotel-card li .price-list-view {
        align-items: center;
        display: flex;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    .hotel-card li .price-list-view .rating-txt {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 0;
    }
    .hotel-card li .price-list-view .rating-txt>ul {
        -moz-column-gap: 1rem;
        column-gap: 1rem;
        display: flex !important;
        flex-direction: row;
        padding-right: 1rem;
    }

    .kELvoK .price-list-view a.view-more {
        margin-left: 0.5rem;
    }
    .haNUKp .go_back span svg {
        transform: translate(10px,10px) !important;
    }
    .haNUKp .theme_form_wrap .theme_form_inner {
        padding: 1.5rem 0.75rem !important;
    }
    .v-toast.v-toast--top {
        z-index: 99999;
    }
    .v-toast__text{
        color: #fff;
    }
    .popup_wrap { margin-left: 1rem; margin-right: 1rem;}
    .fullCalander_pop_wrap .modal-content {padding: 1rem !important;}
    .copyr{padding-bottom: 4rem;}
}
