@tailwind base;
@tailwind components;
@tailwind utilities;

/* .client_box_inner .client_box {
    border-radius: 100% 100% 0% 0%;
}
.client_box_inner {
    border-radius: 100% 100% 0% 0%;
} */
ul.breadcrumb {
    text-align: right;
    padding: 10px 0;
}
.searchbtn .btn:hover {
    color: #ddd !important;
}
.searchbtn .btn {
    cursor: pointer;
}
.user_login a.btn:hover {
    background: #ddd;
}
.top-section ul li a:hover {
    /* opacity: .6; */
    color: #13e3d6;
}
header.theme_header ul.theme-nav li a:hover {
    opacity: .6;
}
.theme-nav li.has-dropdown > a:after {
    content: "\f078";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 12px;
    padding-left: 7px;
}
.client_info .client_name {
    display: flex;
}
/* .client_box_inner .images {
    border-radius: 100% 100% 0% 0%;
} */
.home_testimonial .client_info .client_name img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.testimonials_class .client_box_inner .client_box img.theme_radius {
    width: 100%;
    border-radius: 100%;
}
.testimonials_class .client_box_inner .client_box .client_info {
    background: #f4f4f4;
    padding: 10px;
}
.testimonials_class .client_box_inner .client_box .client_info .name {
    padding: 0;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.testimonials_class .client_box_inner, .testimonials_class .client_box_inner .client_box {
    background: #0000;
}
.testimonials_class .client_box_inner .client_box .images {
    height: 16rem;
}
.testimonials_class .client_box_inner .client_box .client_info .content p br {
    display: none;
}
.similar-testimonials .slider_box .swiper.featured_slider .swiper-slide a.featured_box:hover .featured_content .title.heading4{
    color: #13e3d6;
}
.similar-testimonials .slider_box .swiper.featured_slider .swiper-slide a.featured_box .featured_content .title.heading4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.similar-testimonials .slider_box .swiper.featured_slider .swiper-slide a.featured_box .featured_content p br{
    display: none;
}
.goog-te-gadget .goog-te-combo {
    /* color: #fff; */
    cursor: pointer;
}
/* .goog-te-gadget .goog-te-combo:hover {
    color: #13e3d6;
} */
#google_translate_element .skiptranslate.goog-te-gadget::after {
    /* content: "\f078"; */
    /* font: normal normal normal 14px/1 FontAwesome; */
    /* font-size: 12px; */
    /* padding-left: 7px; */
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    top: 14px;
    right: 5px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(45deg);
    z-index: 9;
    font-weight: 200;
    content: '';
}
#google_translate_element .skiptranslate.goog-te-gadget {
    color: #fff;
}
#google_translate_element .skiptranslate.goog-te-gadget option {
    color: #000;
    font-family: 'Lato';
}
.testimonials-details .team_info_single img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 100px;
    display: inline-block;
}
.text-description p {
    font-size: 16px;
}
.testimonials-details .featured_box {
    display: block;
}
.goog-te-gadget .goog-te-combo {
    padding: 0 15px !important;
}
.booknow_btn .btn_group input.btn {
    color: #000 !important;
    justify-content: center;
    cursor: pointer;
}
.user_profile_login .submit_btn button {
    cursor: pointer;
    color: #282658 !important;
}
.user_profile_login .icon.mt15 img {
    margin: 0 auto;
}
.otp_wrap ul.btn_inline button.btn {
    color: #282658 !important;
}
.user_login.user_login_logged svg {
    fill: var(--white);
}
.user_login_list {
    right: 0;
    width: 200px;
}
.user_login_list a {
    font-size: .9rem;
}
.user_login_list a:hover {
    background: #142e44;
    opacity: .6;
}
.user_login {
    cursor: pointer;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.theme_nav_search .search_icon {
    padding-top: 7px;
}
.fintout-more a:hover {
    background: #18afa6;
    color: #fff;
    border-color: #18afa6;
}
.recommendation_place .title.text-3xl:after {
    content: "";
    width: 90px;
    border-bottom: 2px solid #18afa6;
    display: block;
    margin: 0 auto;
    padding-top: 12px;
}
.pack-category .tour_category_box img {
    max-width: 100%;
    min-width: inherit;
    max-height: 300px;
}
.pack-category .tour_category_box .images {
    height: 300px;
    overflow: hidden;
    background: #eee;
}
.destination-cat .theme_listing a.tour_category_box {
    height: 22.75rem;
}
.destination-cat .theme_listing .tour_category_box:hover .text > span {
    display: none;
}
.destination-cat .theme_listing a.tour_category_box .text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2.375rem 1.75rem;
    color: var(--white);
}
.destination-cat .theme_listing .tour_category_box .text:after {
    height: 315px;
}
.destination-cat .tour_category_box .text:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 180px;
    background: linear-gradient(359deg, #000 0%, #0000 100%);
    /* border-radius: 11px; */
}
.hotel_listing_class .recommendation_place .hotel_list li a {
    flex-direction: row;
}
.hotel_listing_class .recommendation_place .hotel_list li .featured_content {
    padding-left: 25px;
}
.side_hotel_bar .search_hotel .pull-right input.btn {
    cursor: pointer;
    z-index: 99;
    position: relative;
}
.title.text-3xl:after {
    content: "";
    width: 90px;
    border-bottom: 2px solid #18afa6;
    display: block;
    margin: 0 auto;
    padding-top: 12px;
}
.visa_assistance_content p.para_md1 {
    padding-bottom: 25px;
    text-align: left;
}
.benchmarks_text .title.text-3xl.pb-5::after {
    margin-left: 0;
}
.blog_box .text .arrow_icon_inner .arrow_icon {
    padding: 5px 10px;
}
.festival_cont p {
    font-size: inherit;
}
.cult_content p.para_md, .gross_area p.para_md {
    max-height: inherit;
    font-size: inherit;
}
.environment_cont p {
    width: 48%;
    font-size: inherit;
}
.fdetail>ul {
    display: flex;
    flex-wrap: wrap;
    margin-right: -4rem;
}
.fdetail>ul>li {
    width: 45%;
    margin-right: 3rem;
    margin-bottom: 2rem;
}
.view_all_btn a:hover{
    background: #18afa6;
}
.single_package_details .btn-book-space .btnSubmit:hover{
    background: #18afa6 !important;
}
.footer_bottom_inner .theme-nav .sub-menu li a:hover, .footer_bottom_right ul li a:hover, .design_by a:hover {
    color: #13e3d6 !important;
}
.single_package_details #myForm .booknow_btn .btn_group input.btn:hover {
    background: rgb(240, 86, 47);
    border-color: rgb(240, 86, 47);
}
.contact_inner_form .title::after {
    margin-left: 0;
}
.filter_box .checkbox_list input:checked + label:after {
    left: 6px;
    top: 5px;
    width: 6px;
    height: 10px;
    border-width: 0 2px 2px 0;
}
.filter_box .checkbox_list label:before {
    border-radius: 4px;
    padding: 8px;
}
.request_detail_class .theme_form_wrap, .customize_this_trip_class .theme_form_wrap {
    border: 0;
}
.request_detail_class .theme_form_wrap .form-floating input.form-control {
    position: relative;
    z-index: 99;
}
.request_detail_class .theme_form_wrap .form-floating span.glyphicon.glyphicon-calendar {
    position: relative;
    z-index: 99;
}
.request_detail_class .theme_form_wrap .form-floating .form-control.phone {
    width: 70%;
    display: inline-block;
}
.request_detail_class .theme_form_wrap .form-floating select.form-select.country_code {
    float: left;
    margin-right: 5px;
}
.request_detail_class .theme_form_wrap .form-floating.phone-group label {
    display: block;
}
.go_back svg {
    transform: translate(12px, 12px);
    fill: #fff;
}
.custom-btn {
    background-color: #2c2d6c;
    padding: 0.7rem 2rem;
    border-radius: 50px;
    color: #fff;
}
.custom-btn:hover {
    background-color: var(--theme-color);
}
.view_all_btn a {
    padding: 5px 25px 5px;
    text-transform: uppercase;
}
.theme_footer .newsletter_left .heading2 {
    text-align: right;
    padding: 0 25px;
}
.newsletter_input_inner{
    border: solid 1px #ffffffb0;
    border-radius: 5px;
    margin-right: 15px;
}
.newsletter_input .btn {
    text-transform: none;
    font-weight: 600;
}
.home_class .featured_content, .home_featured .slider_box a.tour_category_box {
    background: #fff0 !important;
}
.filter_box .checkbox_list {
    font-size: 14px;
}
.filter_box .checkbox_list label:before {
    padding: 8px;
}
.home_featured .slider_box a.tour_category_box .title {
    color: #282658;
    font-weight: 600;
}
.price_inner p {
    font-size: 13px;
    color: #3e3e3eba;
    font-weight: 500;
}
.price_inner .peerson p {
    color: #000;
}
.hotel_content .title {
    text-transform: uppercase;
}
.home_hotel.home_featured .slider_btns {
    top: 35%;
}
.day_night_detail {
    text-transform: uppercase;
}
.flight_list li {
    margin-top: 0;
}
#form_1 .form-floating.radio_wrapper.form_list label {
    padding-top: 7px;
    padding-left: 8px;
    padding-right: 10px;
}
.contact-us .form_box_inner form#form_1 .form-floating.form_list {
    width: auto !important;
}
.contact-us .form_box_inner form#form_1 .form-floating.form_list > label:nth-child(1) {
    max-width: 100%;
    width: 100%;
}
.contact-us .form_box_inner form#form_1 .form-floating.form_list input {
    left: 8px;
}
.packaging_view_box_top .cities {
    font-size: 13px;
}
.package_type .customradio {
    display: inline-block;
    font-size: 13px;
}
.packaging_view_footer_inner .right_side  .btn {
    padding: 0.5rem 1rem;
}
.packaging_view_box .packaging_view_box_top .price_inner a {
    font-size: 14px;
    padding: 0.5rem 1rem;
}

/*CSS za onClick image flip*/
.flip-container {
    /* width: 350px;
    height: 480px; */
    height: 450px;
    position: relative;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;
}
.flip-container .card .front .tcont .images img {
    height: 365px;
    object-fit: cover;
}
.flip-container .card .back {
    height: 450px;
    text-align: center;
    /* overflow-y: scroll; */
}
.flip-container .card .back p {
    font-size: 14px;
}
.flip-container .card .front {
    background: #f1f1f1;
    text-align: center;
}
.flip-container .card .front .content-box h4, .flip-container .card .front .content-box h5 {
    width: 100%;
}
.card {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}
.card div {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.card .front {
  	/* background: red; */
  	/* background-image: url(http://www.pipubs.com/wp-content/uploads/2013/12/club-girls-dancing.jpg);
	background-size:100% 100%;
	background-repeat: no-repeat; */
}
.card .back {
    padding: 30px 20px;
    background: #f1f1f1;
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
    /* background-image: url(https://media.giphy.com/media/7TM8kWy04HzcA/giphy.gif);
	background-size:100% 100%;
	background-repeat: no-repeat; */
}
.card.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
.content-box h4, .content-box h5 {
    position: absolute;
    bottom: 0;
}
.content-box h4 {
    padding-bottom: 40px;
}
.testimonials_class .packaging_view .packaging_view_box .packaging_view_box_top {
    padding: 15px;
}
.testimonials_class .packaging_view .packaging_view_box .packaging_info {
    padding: 0 15px;
    width: 100%;
    max-width: 100%;
}
.packaging_wrap.p_list_view .package_top {
    width: 50%;
    float: left;
}
.single_package_details .packaging_wrap.p_list_view .pac_disc {
    padding: 2rem 0;
    float: right;
    width: 48%;
    text-align: right;
}
.package_testi .client_info {
    text-align: center;
}
.paymen-detail h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 12px 0;
}
.payment_box table {
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
}
.paymen-detail a.btn {
    width: auto;
    display: inline-block;
}
.packaging_wrap.p_list_view .packaging_view_box_top .cities {
    display: inline-block;
    width: 100%;
}
.packaging_wrap.p_list_view .packaging_info .pac_disc {
    padding: 0;
}
.packaging_wrap.p_list_view .packaging_view_box_top .images {
    width: 43%;
}
.packaging_wrap.p_list_view .packaging_info .pac_disc .list_row_right ul.activ_list li {
    margin-bottom: 5px;
}
.home_client.bggray.home_featured .swiper.client_slider .swiper-slide .images img {
    height: 15em;
    object-fit: cover;
}
.home_client.bggray.home_featured .swiper.client_slider .swiper-slide .images {
    height: 15em;
}
.theme-next, .theme-prev, .cat-next.theme-next, .cat-prev.theme-prev, .client-next.theme-next, .client-prev.theme-prev, .blog-prev.theme-prev, .blog-next.theme-next, .featured-next.theme-next, .featured-prev.theme-prev, .testimonial-prev.theme-prev, .testimonial-next.theme-next {
    border: 2px solid #fff;
    box-shadow: none;
}
.theme_form_wrap.popup-booking {
    border: 0;
    background: #0000;
}
section.theme_form.popup-block {
    background: #fff !important;
}
section.home_featured .featured_box .price span.amount {
    font-size: 15px;
    float: right;
    line-height: initial;
}
.home_class .featured_content, .home_featured .slider_box a.tour_category_box {
    padding-right: 0;
}
.fancybox-wrap.fancybox-type-html.fancybox-opened .theme_form_inner {
    padding: 0;
}
.img-pack img {
    width: 125px;
    float: left;
    padding-right: 25px;
}
.fancybox-wrap.fancybox-type-html.fancybox-opened section.theme_form {
    background: #fff !important;
    padding: 0;
}
.theme_form_wrap.popup-booking {
    max-width: 100%;
}
.fancybox-wrap.fancybox-type-html.fancybox-opened .theme_form_inner .form_list li {
    width: auto;
}
.theme_form_wrap.popup-booking .form_group input, .theme_form_wrap.popup-booking .form_group textarea {
    background: #fff;
}
.theme_form_wrap.popup-booking .form_list {
    margin-top: 0;
}
.theme_form_wrap.popup-booking .right_sec .date-bg, .theme_form_wrap.popup-booking .right_sec .type-bg {
    color: #fff;
    border-radius: 3px;
}
.hotel_bottom a.btn {
    text-transform: none;
    padding: 10px 25px;
    border-radius: 50px;
}
ul.inclusions li {
    font-size: 11px;
    text-align: center;
}
.packaging_view_footer_inner .right_side .btn {
    margin-bottom: 5px;
}
/* .single_package_details .form_box .booknow_btn.px-5 ul.btn_group.listing_btn a.btn2 {
    line-height: 22px;
} */
ul.user-details li {
    padding: 5px 0;
    font-size: 14px;
}

.payment_method .form_group label {
    padding: 15px;
    background: #fff;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    cursor: pointer;
    position: relative;
    float: left;
    width: 57%;
}
.paynow-template input.btn.theme_clr {
    width: auto;
    background: #01b3a7;
}
.paynow-template input.btn.theme_clr:hover {
    background: #282658;
    color: #fff;
}
section.paynow-template .theme_title .images img {
    float: left;
    width: 100px;
}
.paynow-template .day_box {
    margin-left: 85px;
}
.paynow-template .theme_title2 {
    float: left;
    width: 85px;
    margin-right: 18px;
}
.booking_problem {
    background: #18afa6;
    padding: 22px 20px;
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    color: #fff;
}
.booking_problem p {
    margin-bottom: 5px;
    font-size: 18px;
    color: #fff;
}
.booking_problem strong {
    font-weight: 500;
}
.paynow-template .day_box p {
    margin: 10px 0;
}
.cards span {
    font-size: 15px;
    color: #f0562f;
    margin-bottom: 10px;
    display: block;
    font-weight: 600;
}
.card-img img {
    height: 40px;
}
header .theme-nav li#item_id_30 a {
    padding: 7px 25px 8px;
    background: #2c2d6c;
    border-radius: 20px;
    display: block;
    margin-top: 5px;
    line-height: normal;
    font-size: 14px;
}
header .theme-nav li#item_id_30 a:hover {
    background: #f0562f;
    opacity: 1;
}
/* .request_detail_class .theme_form_wrap .form-floating select.form-select {
    height: calc(3.2em + 0.75rem + 2px);
} */
.form-floating.radio_wrapper.gender {
    width: 50% !important;
}
.form-floating.radio_wrapper.gender input[type="radio"] {
    display: inline-block;
    width: auto;
}
.bookspace-inner #form_1 .form-floating.radio_wrapper.gender label:first-child {
    display: block;
}
.bookspace-inner #form_1 .form-floating.radio_wrapper.gender > label {
    display: inline-block;
}
.theme_form .theme_form_inner .common_main_form .form-floating.space0 {
    margin-bottom: 0;
    margin-top: 0;
}
span.required {
    color: #f00;
    font-size: 12px;
}
form#frmTransaction .form-group input {
    color: #000;
    font-size: 15px;
}
form#frmTransaction .form-group input::placeholder {
    color: #505050;
}
#frmTransaction select.form_control {
    color: #000 !important;
    font-size: 15px;
    --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-image: var(--bs-form-select-bg-img),var(--bs-form-select-bg-icon,none) !important;
    background-repeat: no-repeat!important;
    background-position: right 0.75rem center!important;
    background-size: 16px 12px!important;
}
  form#frmTransaction input#btn_save {
    margin-top: 0;
    padding: 10px 25px;
    width: auto;
    text-transform: capitalize;
    background-color: #2c2d6c;
    border-color: #2c2d6c;
}
form#frmTransaction input#btn_save:hover {
    background-color: #01b3a7;
    border-color: #01b3a7;
}
.single_hotel .btn-book-space button.btn.btn-outline.btn-theme.btnSubmit {
    margin-top: 8px;
    margin-bottom: 25px;
    padding: 12px 35px;
    color: #fff !important;
    background-color: #01b3a7;
}
.single_hotel .btn-book-space button.btn.btn-outline.btn-theme.btnSubmit:hover {
    background-color:#2c2d6c;
    border-color: #2c2d6c;
}
.single_hotel h2.heading2 {
    margin: 8px !important;
}
.slidecourses.owl-carousel .listbox .titles > p {
    font-size: 25px;
    color: #2c2d6c;
}
.form_box-new.single_package_form .btn-book-space button.btn.btn-outline.btn-theme.btnSubmit:hover {
    color: #fff !important;
}
.popup-booking .book_info_list {
    font-size: 14px;
    margin-top: 0px;
    display: inherit;
    width: 100%;
}
.popup-booking .book_info_list > strong {
    width: 40%;
    font-weight: 400;
    color: #000;
    padding-right: 10px;
}
.book_info_list > span {
    width: 60%;
}
.popup-booking .book_info_list > strong, .popup-booking .book_info_list > span {
    display: block;
    float: left;
    font-size: 14px;
    font-weight: 500;
}
.popup-booking .book_info_list .price {
    font-size: 25px;
    color: #111;
    font-weight: 500;
}
.footer_bottom_right .theme-nav > li > a {
    pointer-events: none;
    font-weight: 600;
}
.hotel_listing_class .recommendation_place .hotel_list li .hotel_bottom a.btn {
    height: 40px;
}
.accommodation.accordion .faqlist li.faq_main .faq_data p {
    font-size: 14px;
    font-weight: 400;
    color: rgb(102 102 102);
    line-height: 22px;
    margin-bottom: 15px;
}
.faq_data p:empty{display: none;}
section.secpad.cmscourses.cmscourses-block-ss {
    padding-top: 0;
}
section.inner-cms-page {
    padding-top: 0;
}
.edit_profile_inner_box .btn {
    color: rgb(40 38 88) !important;
    margin: 0 auto;
}
.edit_profile_inner_box .btn:hover {
    background: #009688;
    color: #fff !important;
}
.edit_profile_field .edit_profile_inner_box .cross {
    padding: 10px 0;
    float: right;
}
.edit_profile_field_wrap .edit_profile_inner_box {
    padding-top: 0;
}
.edit_profile_field .edit_profile_inner {
    padding-top: 35px;
}
/* .edit_profile_field_wrap .edit_profile_inner_box .form_group .form_control {
    --bs-form-select-bg-img: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e);
    background-image: var(--bs-form-select-bg-img),var(--bs-form-select-bg-icon,none)!important;
    background-repeat: no-repeat!important;
    background-position: right 0.75rem center!important;
    background-size: 16px 12px!important;
} */
.package_testi .client_info .name {
    font-size: 20px;
    font-weight: 600;
}
section.home_testimonial.package_testi .container {
    margin-bottom: 25px;
}
section.home_testimonial.package_testi .testimonial_all a.btn:hover {
    background: #fff !important;
}
section.single_package_details .form_group.icon_calender select#trip_date{
    background: #fff !important;
}
.single_package_details .form_group.icon_calender:after{
    background-image: url(../img/calender.png);
    z-index: 99;
    bottom: 0;
    height: 100%;
    top: 1px;
    background-position: center;
}
.pagination-wrapper.hotel-pagination ul.pagination {
    padding-bottom: 0;
}
.hotellist {
    padding-bottom: 50px !important;
}
.hote_detail_box .hote_description p {
    line-height: 24px;
    font-size: 14px;
}
.hote_detail_box p.address_accm {
    line-height: 25px;
}
.wishlist_btn img {
    filter: brightness(100);
}
.experiences .destination_package_slider.featured_list li.swiper-slide .featured_content {
    position: initial;
}
.icon-wishlist .wishlist_btn {
    left: auto;
    right: 0;
}
.icon-wishlist .wishlist_btn img {
    filter: inherit;
}
.hodel_detail_list .hotel_info {
    width: 100%;
}
.validation_error {
    color: #f00 !important;
    font-size: 13px !important;
    font-weight: 400 !important;
}
.package_disc.overview_box p {
    font-size: 14px;
    padding-bottom: 10px;
}
.package_disc.overview_box p:empty{display: none;}
.tab-panel .tabcontent p {
    font-weight: 300;
    text-align: justify;
}
ul.featured_list.my_favorite li {
    border: 0;
}
/* .featured_box .title {
    font-size: 20px;
    padding-top: 10px;
} */
.description_box.detail_info111 .heading1 {
    font-weight: 500;
    font-size: 23px;
    line-height: normal;
    margin: 0 0 15px;
    color: #3e3e3e;
    position: relative;
}
.description_box.detail_info111 .heading1::after {
    content: "";
    margin-top: 4px;
    width: 32px;
    border-bottom: 2px solid #18afa6;
    display: block;
}

.description_box.detail_info111 .imgs {
    float: right;
    margin-left: 15px;
    /* width: 315px; */
}
.description_box.detail_info111 .imgs img {
    max-width: 100%;
}
.hotel_listing_class .recommendation_place .hotel_list li .featured_content .title.hotel_location:after {
    top: 0px;
}
.user_profile_inner .featured_box .title {
    font-size: 17px;
    padding-top: 8px;
}
.user_profile_inner .featured_box p, .user_profile_inner .featured_box a {
    font-size: 14px;
    margin-top: 4px;
}
.user_profile_inner .featured_box .view_all {
    font-size: .8rem;
    text-transform: initial;
}
.user_profile_inner .featured_box .duration {
    font-size: 14px;
}
.user_profile_inner .profile_info .form_group.submit_btn .btn:hover{
    background: #009688;
}
.single_banner_main {
    width: 1170px;
    margin: 0 auto;
    height: 400px;
    background: #faf9f9;
}
.user_profile_inner .right_info .top_info .title {
    font-size: 22px;
}
.single_banner_main > img {
    height: 100%;
}
.bookspace-inner #form_1 .form-floating > label {
    display: block;
}
.book-space form#form_5 select.form-select {
    padding-right: 35px;
}
/*===========  Model Box Single Package   ==============*/
.modal-content {
    padding: 15px;
    background: #fff;
}
.modal-content .modal-header span.heading {
    font-size: 18px;
}
.modal-content .modal-header {
    position: relative;
}
.modal-content .modal-header button#hmodel-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    background: #009688;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    color: #fff;
}
.modal-content .modal-header span.sub_title_pop {
    padding-bottom: 10px;
    font-style: italic;
}
.modal-content .modal-body tbody.fc-body tr td {
    font-size: 15px;
    text-align: right;
    padding: 0px 5px;
}
.modal-content .modal-body tbody.fc-body tr td .fc-event {
    background: #18afa6;
    text-align: center;
    display: inline-block;
    border-color: #18afa6;
    font-size: 12px;
    padding: 2px 5px;
    transition: none;
    cursor: pointer;
}
.modal-content .modal-body tbody.fc-body tr td .fc-event:hover {
    background: #2c2d6c;
    border-color: #2c2d6c;
}
.modal-content .modal-body #full_calender .fc-view-container {
    /* max-height: 450px; */
    /* overflow-y: scroll;
    height: 50vh; */
}
.modal-content .modal-body #full_calender .fc-toolbar.fc-header-toolbar .fc-center h2 {
    font-size: 20px;
}
.disbled_input { pointer-events: none;}
span.newsletter_messages {
    position: absolute;
    bottom: 6px;
    margin-left: 0;
}
ul.description_box.detail_info111 li {
    display: inline-block;
    padding-bottom: 25px;
}
ul.description_box.detail_info111 a.fancybox {
    width: 100%;
}
.contact_info>li:last-child:before {
    width: 0;
}
.header_inner_banner_main img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
p.address_accm {
    line-height: 27px;
}
.fancybox__carousel .fancybox__slide.has-iframe .fancybox__content {
    height: 500px !important;
}
.package_day.secpad .faqlist ul li.faq_main .faq_data .left-img-itinerary img {
    width: 100%;
}
.user_profile_login .signup_form.singup_form_wrap .form_group.submit_btn button.btn:hover {
    background: #01b3a7;
    color: #fff !important;
}
.user_profile_login .login_form .form_group a:hover, .user_profile_login .login_form .create_account a:hover {
    color: #2c2d6c;
    text-decoration: none;
}
.user-order-details table.table.table-bordered tbody tr td p {
    border-bottom: 1px solid #ddd;
    padding: 12px 0;
}
.user-order-details table.table.table-bordered tbody tr td p:last-child {
    border-bottom: 0;
}
.user-order-details .table th {
    background: var(--theme-color);
    border-right: 1px solid #dee2e6;
    color: #fff;
}
.user-order-details table tr td h2 {
    background: #282658;
    margin-bottom: 15px;
    display: inline-block;
    padding: 7px;
    color: #fff;
}
.packaging_view_box_top .price .peerson p {
    text-align: center;
}
.containe-fluid {
    padding-left: 5rem;
    padding-right: 5rem;
}
.inclusions li[data-text=flight] .fa:before {
    content: '';
    background-position: -351px 0;
    width: 35px;
    height: 35px;
}
ul.inclusions li[data-text='bike mechanic'] .fa:before {
    content: '';
    background-position: -201px 0;
    width: 35px;
    height: 35px;
}
ul.inclusions li[data-text='camel ride'] .fa:before {
    background-position: -102px 0;
}
ul.inclusions li[data-text='camel-ride'] .fa:before {
    background-position: -102px 0;
}
.inclusions>li[data-text=bike] .fa:before {
    background-position: -404px -53px;
}
.inclusions>li[data-text=monasteries] .fa:before {
    background-position: -450px -53px;
}
.inclusions>li[data-text='english speaking guide'] .fa:before {
    background-position: -450px 0px;
}
.inclusions>li[data-text=temples] .fa:before {
    background-position: -450px -103px;
}
.inclusions>li[data-text=breakfast] .fa:before {
    background-position: -503px -55px;
}
.inclusions>li[data-text=dinner] .fa:before {
    background-position: -502px -2px;
}
.inclusions>li[data-text='gondola ride'] .fa:before {
    background-position: -300px -105px;
}
.inclusions>li[data-text=transfers] .fa:before {
    background-position: -350px -103px;
}
.inclusions>li[data-text='shikara ride'] .fa:before {
    background-position: -427px -160px;
}
.inclusions>li[data-text='wildlife-fees'] .fa:before {
    background-position: -604px -2px;
}
.inclusions>li[data-text='hiking'] .fa:before {
    background-position: -102px -60px;
}
.inclusions>li[data-text=kitchen-equipment] .fa:before {
    background-position: -553px -55px;
}
.inclusions>li[data-text='oxygen-cylinder'] .fa:before {
    background-position: -102px -155px;
}


.otp_wrap ul.btn_inline li a#ResendForgotOtp:hover {
    color: #282658!important;
}
.otp_wrap ul.btn_inline li a#ResendForgotOtp {
    color: #fff !important;
}
.otp_wrap ul.btn_inline li:first-child button#sbmtBtn {
    border-radius: 50px;
}
.list_row_right ul.activ_list > li {
    margin-bottom: 5px;
}
/* .login-bg {
    background-image: url(../front/images/Beautiful-Mauritius-Beaches.jpeg);
    padding: 5rem 0;
}
.round-title .title {
    display: inline-block;
    background: #009688;
    height: 6rem;
    width: 6rem;
    border-radius: 50rem;
    margin: 0 auto;
    position: absolute;
    top: -100px;
    left: 0;
    right: 0;
    line-height: 88px;
    font-size: 25px;
    z-index: 99;
}
.round-title .title::after, .round-title .title::before{
    display: none;
}
.icon.relative:before {
    content: '';
    position: absolute;
    height: 100px;
    background: #fff;
    width: calc(100% + 15px);
    left: 0;
    right: 0;
    transform: rotate(350deg);
    bottom: -15%;
}
.login-bg  form#login_form {
    z-index: 9999;
    position: relative;
}
.round-title {
    z-index: 999;
    position: relative;
} */
/* @media screen and (max-width:1224px) {
.menu-item-has-children:hover>ul, .has-dropdown:hover>ul {
    transform: translateY(-30px);
}
} */